<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/hidayet/workspace_siLabs_Intellij/Darksky">
        <classes>
            <class name="com.darksky.testsWTestNG.HomePageTest">
                <methods>
                    <include name="seeTheLowestTemp"/>
                    <include name="seeTheHighestTemp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>